[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
kivy = "*"
sqlalchemy = "*"
python-dotenv = "*"
Pillow = ">=8.1.1"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
